#define BG #282828
#define FG #EEEEEE
#define BL #A3A3A3
#define WH #444444
#define R #ED333B
#define G #E66100
#define Y #FFA348
#define B #5BC8AF
#define M #1C71D8
#define C #E05C91

st.font: CozetteHiDpi:pixelsize=23
st.borderpx: 45

! special
*.foreground:   FG
*.background:   BG
*.cursorColor:  FG

! black
*.color0:       #171421
*.color8:       #5E5C64

! red
*.color1:       #C01C28
*.color9:       #F66151

! green
*.color2:       #26A269
*.color10:      #33D17A

! yellow
*.color3:       #A2734C
*.color11:      #E9AD0C

! blue
*.color4:       #12488B
*.color12:      #2A7BDE

! magenta
*.color5:       #A347BA
*.color13:      #C061CB

! cyan
*.color6:       #2AA1B3
*.color14:      #33C7DE

! white
*.color7:       #D0CFCC
*.color15:      #FFFFFF
