#define BG #282828
#define FG #eeeeee
#define BL #a3a3a3
#define WH #444444
#define R #ed333b
#define G #e66100
#define Y #ffa348
#define B #5bc8af
#define M #1c71d8
#define C #E05C91

st.font: CozetteHiDpi:pixelsize=23
st.borderpx: 45

! special
*.foreground:   FG
*.background:   BG
*.cursorColor:  FG

! black
*.color0:       BL
*.color8:       BL

! red
*.color1:       R
*.color9:       R

! green
*.color2:       G
*.color10:      G

! yellow
*.color3:       Y
*.color11:      Y

! blue
*.color4:       B
*.color12:      B

! magenta
*.color5:       M
*.color13:      M

! cyan
*.color6:       C
*.color14:      C

! white
*.color7:       WH
*.color15:      WH
