* {
  all: unset;
}

/* FONT */

label {
  font-family: "CozetteHiDpi";
  font-size: 23px;
  color: #eeeeee;
}

/* TOP BAR */

.window > box {
  margin-bottom: 15px;
  margin-top: -2px;
  background: #1e1e1e;
}

.bar {
  border-radius: 0px;
  background: #282828;
  border-bottom: 1px solid #eeeeee;
  background-color: #282828;
  box-shadow: 0 0 4px 0 #000;
}

.barIconSearch {
  margin: 10px 0 10px 8px;
  padding: 6px 11px 6px 11px;
  border: 1px solid #eeeeee;
}

.barIconHome {
  margin: 10px 8px 10px 0;
  padding: 6px 0 0 11px;
  border: 1px solid #eeeeee;
}

.trayBtn {
  margin: 10px 8px 10px 0;
  padding: 2px 7px 0 3px;
  border: 1px solid #eeeeee;
  border-radius: 0px;
}

.trayIcon {
  color: #eeeeee;
  border: #282828;
  margin-right: 12px;
  border-radius: 0px;
}

.barClock {
  margin: 10px 8px 10px 0;
  padding: 2px 7px 0 6px;
  border: 1px solid #eeeeee;
}

/* APP LAUNCHER */ 

.applauncherSearch {
  font-family: "CozetteHiDpi";
  font-size: 23px;
  background: #1e1e1e;
  padding: 12px;
  border-bottom: 1px solid #eeeeee;
}

.applauncherBox {
  background: #282828;
  border: 1px solid #eeeeee;
  box-shadow: 0 0 4px 0 #000;

}

.appItem {
  margin: 2px 0 0 12px;
}

.appItemIcon {
  margin: 6px 12px 0 0;
  padding: 0 6px 0 6px;
}

.appItemDescription {
  color: #a3a3a3;
}